body{
    margin:0; 
}

.flexbox_container {
    display:flex; 
    border: 3px solid red;
    height: 100vh; 
    box-sizing: border-box; 
    flex-direction: column;
    justify-content: space-between;
}  

.flexbox_container>div {
  color: #fff;
  font-size: 3px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
  padding: 10px;
}

