.flexbox_container{
    display: flex;
    background-color: white;
    height: 91vh;
    flex-direction:column-reverse;
    text-align: center;
    border: 3px solid red;
}

.flexbox_container>div{
    width: auto;
}