body {
    margin: 0;
}

.container {
    display: flex;
    border: 3px solid red;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: row;
}

.box {
    color: #fff;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    padding: 10px;
    width: 100%;
}

.box1 {
    background: #1abc9c;
    align-self: flex-start;
}

.box2 {
    background: #3498db;
}

.box3 {
    background: #9b59b6;
    align-self: flex-start;
}

.box4 {
    background: #34495e;
    align-self: flex-start;
}

.box5 {
    background: #f1c40f;
    align-self: flex-start;
}

.box6 {
    background: #e67e22;
    align-self: center;
}

.box7 {
    background: #e74c3c;
    align-self: flex-start;
}

.box8 {
    background: #bdc3c7;
    align-self: flex-start;
}

.box9 {
    background: #2ecc71;
    align-self: flex-end
}

.box10 {
    background: #16a085;
    align-self: flex-start;
}